# The cache file created in building
semantic.cache
*~
~*
*#
*.dvi
*.ps
*.idx
*.ilg
*.ind
*.toc
*.o
*.hi
*.eps
*.pyc
*.fdb_latexmk
*.fls
*.xdv
*.DS_Store
*.bkp
*.dtmp
*.synctex.gz
*.pdf
*.aux
*.log
*.out
.copier-answers.yml

# The project files
!cover_package_ci.pdf
