# {{ notebook_name }}

{% raw %}## How to configure this notebook

### `main.tex` is the entrypoint file

```latex
\def\allfiles{}{% endraw %}
{% if notebook_language == "en" %}{% raw %}\documentclass[12pt, a4paper, oneside, UTF8]{book}{% endraw %}{% else %}{% raw %}\documentclass[12pt, a4paper, oneside, UTF8]{ctexbook}{% endraw %}{% endif %}
{% raw %}\def\path{./config}
\input{config/_config}
\begin{document}
\include{config/cover}
\include{chap0/chap}
% \include{chap1/chap}
% Add the new chapter like the comment above.
\end{document}
```

### `config/_config.tex` is the configuration file

```latex
% All the packages used in your LaTeX project. Add new packages here instead of elsewhere.
\input{\path/package.tex}

% Custom theorem field
\input{\path/theorem.tex}

% Custom command
\input{\path/custom.tex}

% The notebook title
\def\myTitle{一份 \LaTeX 的笔记模板}

% The name of the notebook author
\def\myAuthor{Guo}

% The date time display on cover
\def\myDateCover{\today}

% The date time on preface
\def\myDateForeword{2023 年 1 月 28 日}

% The title for preface
\def\myForeword{前言}

% The content for preface
\def\myForewordText{
    这里写前言内容

    第二行
}

% The subtitle for you notebook.
\def\mySubheading{格物致知，慎思明辨}
```

### `config/custom.tex` is the custom command

Here is an example content for teaching you how to add the custom commands.

```latex
% differential symbol
\def\d{\mathrm{d}}

% Real number symbol
\def\R{\mathbb{R}}

% Strong
\newcommand{\bs}[1]{\boldsymbol{#1}}

% Vector
\newcommand{\ora}[1]{\overrightarrow{#1}}

% Black space
\newcommand{\myspace}[1]{\par\vspace{#1\baselineskip}}

% Use \usepackage{stackengine} for changing the line height
\newcommand{\xrowht}[2][0]{\addstackgap[.5\dimexpr#2\relax]{\vphantom{#1}}}

% Custom line height cases and vmatrix environment
\newenvironment{ca}[1][1]{\linespread{#1} \selectfont \begin{cases}}{\end{cases}}
\newenvironment{vx}[1][1]{\linespread{#1} \selectfont \begin{vmatrix}}{\end{vmatrix}}

% Add line wrap for table cell
\newcommand{\tabincell}[2]{\begin{tabular}{@{}#1@{}}#2\end{tabular}}

% Parallel symbol //
\newcommand{\pll}{\kern 0.56em/\kern -0.8em /\kern 0.56em}

% Divergence, curl symbol
\newcommand{\dive}[1][F]{\mathrm{div}\;\bs{#1}}
\newcommand{\rotn}[1][A]{\mathrm{rot}\;\bs{#1}}
```

### `chap[number]/chap.tex` is the file for each chapter

The default content for one chapter is shown like below example.
Replace the comment `% Main Content` with the content you would like to write.

```latex
\ifx\allfiles\undefined{% endraw %}
{% if notebook_language == "en" %}{% raw %}\documentclass[12pt, a4paper, oneside, UTF8]{book}{% endraw %}{% else %}{% raw %}\documentclass[12pt, a4paper, oneside, UTF8]{ctexbook}{% endraw %}{% endif %}
{% raw %}\def\path{../config}
\input{../config/_config}
\begin{document}
\fi
% Main Content
\ifx\allfiles\undefined
\end{document}
\fi
```{% endraw %}
