semantic.cache
*~
~*
*#
*.dvi
*.ps
*.idx
*.ilg
*.ind
*.toc
*.o
*.hi
*.eps
*.pyc
*.fdb_latexmk
*.fls
*.xdv
*.DS_Store
*.bkp
*.dtmp
*.synctex.gz
*.pdf
*.aux
*.log
*.out
.copier-answers.yml

# Project Files
!cover_package_1_ci.pdf
!cover_package_1_texromancers.pdf
